@import "compass";
@import "mixins";

@import url(custom_common.css);
@import url(color_schemes/common.css);
@import url(color_schemes/dark.css);
@import url(color_schemes/light.css);

$dockbarGradientEnd: #1273C7;
$dockbarGradientStart: #118ADE;

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;

/* ---------- Base styles ---------- */

.aui {
	#hrefFm{
		padding:0;
		margin: 0;
	}
	.separator {
		border-color: #BFBFBF transparent #FFF;
		border-style: solid;
		border-width: 1px 0;
	}

	#wrapper {
		position: relative;
	}

	.site-title {
		a:hover {
			text-decoration: none;
		}

		.site-name {
			display: inline-block;
		}
	}

	#skip-to-content:focus {
		clip: rect(auto auto auto auto);
		margin-top: 35px;
		right: 5px;
		z-index: 200;
	}

	#sign-in {
		background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
		font-weight: bold;
		padding: 5px 5px 5px 25px;
		position: absolute;
		right: 0;
		top: -1.2em;
	}

	.redirected-to-message {
		margin-right: 10px;

		a {
			background: #ECFBFF;
			border: 1px solid #ADE5FA;
			color: #8D8D8D;
			padding: 5px;
		}
	}

	.site-navigation {
		margin-bottom: 6px;
	}

	.taglib-portal-message {
		margin-bottom: 0;
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		&.navbar {
			.nav {
				li {
					&.dropdown {
						&.active {
							.dropdown-toggle {
								background-color: transparent;

								&:hover {
									color: #FFF;
								}
							}
						}

						&.staging-toggle .dropdown-menu {
							background-color: #55B8EC;
						}
					}
				}

				> li {
					> a {
						margin: 0 5px 0 0;
						padding: 6px 10px;

						&:hover {
							background-color: #2FA4F5;
						}
					}
				}
			}
		}

		.info-button {
			top: 9px;

			a {
				margin-top: -4px;

				&:hover {
					color: #FFF;
				}
			}
		}

		.staging-bar {
			.staging-toggle {
				color: #FFF;

				li a {
					color: #FFF;
					font-weight: 300;
					text-decoration: none;
				}

				.btn-link {
					color: #FFF;
					font-size: 12px;
				}
			}
		}

		.page-customization-bar .btn {
			border-color: transparent;

			&:hover, &:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}

	.dockbar, .dockbar-split .dockbar {
		.navbar-inner {
			background-color: $dockbarGradientStart;

			@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));

			.nav {
				> li {
					background-color: $dockbarGradientStart;

					@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				}
			}
		}
	}

	.dockbar-split .dockbar {
		.info-button {
			top: 9px;
		}

		.navbar-inner {
			.nav-account-controls {
				border-top: 1px solid #00AEFF;

				&.nav-account-controls-notice {
					margin-top: 10px;
					top: 50px;
				}
			}

			.nav-add-controls {
				background: transparent;
				border-top-width: 0;

				&.nav-add-controls-notice {
					top: 70px;
				}

				> li {
					background-color: transparent;

					@include background-image(none);

					> a {
						background: #45CBF5;
						line-height: inherit;
						padding: 6px 8px;

						@include respond-to(phone, tablet) {
							background: transparent;
						}

						&:hover {
							background: #5BBAE8;
						}

						&.toggle-controls-link {
							background: #92F545;

							@include respond-to(phone, tablet) {
								background: transparent;
							}
						}
					}
				}
			}

			.page-customization-bar {
				background-color: #6DA4E4;
				background-color: rgba(109, 168, 228, 0.9);
				line-height: 20px;
			}

			.page-customization-bar-text {
				height: 43px;
			}

			.staging-bar {
				margin: 6px 0;

				> li {
					background: transparent;
				}
			}
		}
	}

	/* ---------- Main navigation ---------- */

	.navbar{
		
		.nav{
			padding:0;
		}
	}
	#navigation {
		position: absolute;
		top: 148px;
		padding: 0;
		margin: 0;
		.add-page-editor {
			input {
				margin-top: 0;
			}
		}

		.brand {
			padding: 0;
			padding-right: 20px;
			margin-left: 0;

			img {
				height: 40px;
				width: auto;
			}
		}

		.nav {
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
			}
			li {
				list-style: none;
				margin: 0 2px 0 0;
				padding:0;
				&.dropdown {
					> .dropdown-toggle {
						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
					}
				}

				&.open {
					> a {
						background-color: #A3A3A3;
						color: #FFF;
					}
				}

				&.active > a {
					display:inline-block;
					background: url(../images/custom/menub.png);
					background-repeat: no-repeat;
					height: 23px;
					width: 93px;
					text-transform:uppercase;
					font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
					font-size:12px;
					font-weight:normal;
					text-decoration:none;
					text-align:center;
					vertical-align:middle;
					color:#000;
					padding: 5px 0 5px 0;
				}
			}

			> li > a {
				padding: 4px 15px 5px;
				
				display:inline-block;
				background: url(../images/custom/menua.png);
				background-repeat: no-repeat;
				height: 23px;
				width: 93px;
				text-transform:uppercase;
				font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
				font-size:12px;
				font-weight:normal;
				text-decoration:none;
				text-align:center;
				vertical-align:middle;
				color:#FFF;
				padding: 5px 0 5px 0;
			}

			.dropdown-menu {
				background: #00ACFF;
				border-width: 0;
				margin: 0;

				&:after, &:before {
					border-width: 0;
				}

				a {
					color: #FFF;

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}
			}
			
			a:link, a:visited
			{
				display:inline-block;
				background: url(../images/custom/menua.png);
				background-repeat: no-repeat;
				height: 23px;
				width: 93px;
				text-transform:uppercase;
				font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
				font-size:12px;
				font-weight:normal;
				text-decoration:none;
				text-align:center;
				vertical-align:middle;
				color:#FFF;
				padding: 5px 0 5px 0;
			}
			
			a:hover, a:active, a.active, a.active:link, a.active:active, a.active:hover
			{
				display:inline-block;
				background: url(../images/custom/menub.png);
				background-repeat: no-repeat;
				height: 23px;
				width: 93px;
				text-transform:uppercase;
				font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
				font-size:12px;
				font-weight:normal;
				text-decoration:none;
				text-align:center;
				vertical-align:middle;
				color:#000;
				padding: 5px 0 5px 0;
			}
		}

		.navbar-inner {
			background: transparent;
			border-width: 0;
			min-height: 36px;
			padding: 0;

			li a {
				color: #FFF;
			}
		}
	}

	.modify-pages .delete-tab {
		background: #555;
		border: 2px solid #FFF;
		color: #FFF;
		font-size: 16px;
		padding: 4px;
		right: -10px;
		top: 0;
		z-index: 300;
	}

	/* ---------- Breadcrumbs ---------- */

	.breadcrumb {
		background: transparent;
	}

	#breadcrumbs {
		margin-bottom: 10px;

		.breadcrumb {
			margin-bottom: 0;
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 1px solid #EAEAEA;
		border-top-width: 0;
		padding: 12px 10px 10px;
		background: trasparent;
	}

	.portlet-topper {
		background: #D3D3D3;
		color: #FFF;
		padding: 0;

		.portlet-title {
			font-size: 1em;
			font-weight: normal;
			line-height: 2.2;
			margin: 0;

			i, span img {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
		}
	}

	.lfr-configurator-visibility .portlet-topper {
		background-color: #A9A9A9;
	}

	.portlet-borderless-bar .portlet-options {
		.dropdown-toggle {
			background-image: url(../images/portlet/options_borderless.png);
		}
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-body, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-journal-content .journal-content-article, .portlet-message-boards .header-title, .portlet-message-boards .thread-body {
		@include hyphenation;
	}

	.portlet-icons {
		float: none;
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}

	.dropdown-menu > li.portlet-close > a {
		color: #C00;
		font-weight: bold;

		&:focus, &:hover {
			background-color: #C00;
			background-image: none;
			color: #FFF;
		}
	}

	/* ---------- Set password reminder portlet ---------- */

	.update-reminder-query {
		.control-group {
			max-width: 350px;
		}

		.reminder-query-answer {
			height: 30px;
			width: 100%;
		}

		.reminder-query-question {
			width: 100%;
		}
	}

	/* ---------- Staging bar ---------- */

	.navbar-inner .nav.staging-bar {
		border-top-width: 0;
		position: static;

		li {
			.page-variations {
				display: inline-block;
				margin-left: 8px;

				a {
					text-decoration: none;
				}
			}
		}

		li.dropdown {
			position: static;
		}
	}

	.portlet-staging-bar {
		.row-fluid .layout-revision-info {
			.layout-revision-version {
				label {
					color: #B6DDF5;
				}
			}
		}

		.label-submit {
			background-color: #469DE3;
		}

		.layout-branch-selector, .layout-set-branch-selector {
			.icon-caret-down {
				background-color: #469DE3;
			}
		}

		.page-variations-options, .site-pages-variation-options {
			.lfr-icon-menu {
				background-color: #50AFE9;

				.icon-globe, .icon-file {
					background-color: #469DE3;
				}
			}
		}
	}

	/* ---------- Footer ---------- */

	#footer {
		text-align: right;
	}

	/* ---------- Hudcrumbs ---------- */

	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 300;

		.breadcrumb {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);

			li {
				a, span {
					color: #FFF;
				}
			}
		}
	}

	/* ---------- Miscellaneous ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}

	/* ---------- Extras ---------- */

	#navigation {
		.nav {
			li {
				&.open {
					> a {
						@include box-shadow(none);
					}
				}
			}

			.dropdown-menu {
				@include border-radius(0);
			}

			> .active > a {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart 0%, $dockbarGradientStart 47%, $dockbarGradientEnd 100%));
				@include box-shadow(none);
				@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);
			}
		}

		.navbar-inner {
			@include border-radius(0);
			@include box-shadow(none);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.update-reminder-query .reminder-query-answer {
		@include box-sizing(border-box);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}

	.portlet-content {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet-minimized {
		.portlet-content {
			border-width: 0;
		}

		.portlet-topper {
			@include border-radius(3px);
		}
	}

	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}

	.portlet-topper {
		@include border-radius(3px 3px 0 0);
	}

	.dockbar .staging-bar .staging-toggle > a {
		@include border-radius(3px);
	}

	.dockbar-split .dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);

			@include respond-to(phone, tablet) {
				background-color: $dockbarGradientStart;

				@include background-image(linear-gradient($dockbarGradientStart, $dockbarGradientEnd));
			}

			.nav {
				li.dropdown.open {
					> .dropdown-toggle {
						background-color: $dockbarOpenGradientStart;

						@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd));
						@include box-shadow(none);
					}
				}

				li.dropdown.active {
					> .staging-link.dropdown-toggle {
						background-color: #55B8EC;
						background-image: none;
					}
				}
			}
		}
		
		.page-search {
			height: 31px;
		}
		
		.dockbar-user-notifications {
			height: 43px;
		}
	}

	.lfr-hudcrumbs {
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}

		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}

	/* ---------- IE8 ---------- */

	&.ie8 {
		.dockbar-split .dockbar .navbar-inner .info-button a {
			margin-top: -2px;
		}
	}
}


/* ---------- SMS Machine CSS ---------- */
.aui {
	.clear
	{
		clear:both;
	}
	
	.sep
	{
		padding-top:10px;
		padding-bottom:10px;
	}
	
	hr
	{
		margin:10px 0 0 0;
		padding:0;
		border:0;
		border-bottom:dashed 1px #CCCCCC;
	}
	body
	{
		background-color:#f5f5f5;
		margin-left: 0px;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		COLOR: #666666;
		border:0;
		FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
		FONT-SIZE: 11px;
		TEXT-DECORATION: none;
		background-image: url(../images/custom/bgdd.jpg);
	}
	
	td, th
	{
		border:0;
	}
	
	p
	{
		margin-top:15px;
		margin-bottom:5px;
	}
	
	ul
	{
		margin:0px;
		padding:0px;
		padding-left:20px;
		margin-bottom:5px;
		margin-top:5px;
	}
	
	li
	{
		padding:2px;
	}
	
	img
	{
		border:0;
	}
	
	.container
	{
		margin-right:auto;
		margin-left:auto;
		width:1000px;
	}
	
	#wrapper
	{
		position:relative;
		width:100%;
		background: url(../images/custom/headback.jpg) repeat-x;
		padding:0;
	}
	
	#banner
	{
		margin-left:auto;
		margin-right:auto;
		width:1200px;
		background-image: url(../images/custom/headbar.jpg);
	}
	
	#banner_content
	{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		width:1000px;
		height:200px;
	}
	
	#banner .site-title
	{
		position:absolute;
		right:80px;
		top:35px;
		overflow:visible;
	}
	
	#banner .livechat
	{
		position:absolute;
		left:100px;
		top:9px;
	}
	
	#banner .signin
	{
		position:absolute;
		left:-6px;
		top:9px;
	}
	
	.content_container
	{
		width:1008px;
		background:url(../images/custom/contentshadow.png) repeat-y;
		margin-right: auto;
		margin-left: auto;
	}
	
	#content
	{
		margin:0 4px 0 4px;
		width:1000px;
		background:url(../images/custom/contenttop.png) repeat-x;
		margin-right: auto;
		margin-left: auto;
	}
	
	#footer
	{
		font-size:10px;
		padding:15px;
		background-color: #25292E;
		background-image: url(../images/custom/foottop.png);
		background-repeat: no-repeat;
		background-position: center top;
	}
	
	#footer .footer_content
	{
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
		width:1000px;
		color:#B5B5B5;
	}
	
	#footer a, #footer a:visited
	{
		font-size: 10px;
		color: #0492BB;
		font-family: Verdana;
		text-decoration: none;
		padding:0;
		margin:0;
	}
	
	#footer a:hover
	{
		font-size: 10px;
		color: #BB7100;
		font-family: Verdana;
		text-decoration: none;
	}
	
	.welcome
	{
		margin-top:-25px;
		float:left;
		width:850px;
	}
	
	.welcome ul {
		list-style: none;
		padding: 0;
		margin: 0;
		
		}
		
	.welcome li
	{
		list-style: none;
		float:left;	
		padding: 0;
		margin:0px 20px 20px 5px;
		width:250px;
	}
	
	.welcome img
	{
		border:0;
	}
	/*--------------- Main Nav --------------------------------*/
	.mainnav
	{
		position:absolute;
		left:0px;
		top:147px;
	}
	
	.mainnav ul {
		list-style: none;
		padding: 0;
		margin: 0;
		
		}
		
	.mainnav li
	{
		list-style: none;
		float:left;
		margin: 0 2px 0 0;
		padding:0;
	
	}
	
	.mainnav a, .mainnav a:link, .mainnav a:visited
	{
		display:inline-block;
		background-image: url(../images/custom/menua.png);
		background-repeat: no-repeat;
		height: 23px;
		width: 93px;
		text-transform:uppercase;
		font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		text-align:center;
		vertical-align:middle;
		color:#FFF;
		padding:10px 0 0 0;
	}
	
	
	.mainnav a:hover, .mainnav a:active, .mainnav a.active, .mainnav a.active:link, .mainnav a.active:active, .mainnav a.active:hover
	{
		display:inline-block;
		background-image: url(../images/custom/menub.png);
		background-repeat: no-repeat;
		height: 23px;
		width: 93px;
		text-transform:uppercase;
		font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		text-align:center;
		vertical-align:middle;
		color:#000;
		padding:10px 0 0 0;
	}
	
	a
	{
		font-family: Verdana;
		font-size:11px;
		color:#623A00;
		text-decoration:none;
	}
	
	a:hover
	{
		font-family: Verdana;
		font-size:11px;
		color:#C67700;
		text-decoration:none;
	}
	
	h1
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:16px;
		font-weight:normal;
		padding:10px 0 10px 0;
		color:#666666;
	}
	
	h2
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:18px;
		font-weight:normal;
		padding:10px 0 0 10px;
		margin:0;
		color:#EE9E2F;
	}
	
	h3
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:normal;
		padding:10px 0 5px 0;
		margin:0;
		color:#2B1A00;
		border-bottom:1px dashed #D8D0C7
	}
	
	h4
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:normal;
		padding:10px 0 0 0;
		margin:10px;
		color:#EA8C00;
	}
	
	h5
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:normal;
		padding:15px 0 2px 0;
		margin:0;
		color:#2B1A00;
	}
	
	.orangetext
	{
		color:#EE9E2F;
	}
	
	.orangehead
	{
		color:#EE9E2F;
		font-weight:bold;
		display:block;
		margin:0 0 5px 0;
	}
	
	a.Button_Normal
	{
		font-family:"Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		padding-top:17px;
		color:#FFF;
		text-align:center;
		vertical-align:middle;
		background-repeat:no-repeat;
		background-image:url(../images/buttonblack_a.png);
		width:106px;
		height:51px;
		display:inline-block;
		text-transform:uppercase;
		text-decoration:none;
		font-weight:bold;
	}
	
	a.Button_Normal:hover 
	{
		background-repeat:no-repeat;
		background-image:url(../images/buttonblack_b.png);
		width:106px;
		height:51px;
		color:#EE9E2F;
		text-transform:uppercase;
		text-decoration:none;
		font-weight:bold;
	}
	
	a.Button_big
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		padding-top:9px;
		color:#0A1E21;
		text-align:center;
		vertical-align:middle;
		background-repeat:no-repeat;
		background-image:url(../images/btn_big_a.png);
		width:125px;
		height:32px;
		display:inline-block;
		text-transform:uppercase;
		text-decoration:none;
		font-weight:bold;
	}
	
	a.Button_big:hover 
	{
		background-repeat:no-repeat;
		background-image:url(../images/btn_big_b.png);
		width:125px;
		height:32px;
		color:#EE9E2F;
		text-transform:uppercase;
		text-decoration:none;
		font-weight:bold;
	}
	
	
	input[type="text"] 
	{
		width: 200px;
		border: 1px solid #D8D0C7;
		background-color:#EFECE9;
		color:#333;
	}
	
	input[type="password"] 
	{
		width: 200px;
		border: 1px solid #5EB7FF;
		background-color:#D9F7FF;
	}
	
	input[type="button"], input[type="submit"] 
	{
		width: 200px;
		border: 1px solid #5EB7FF;
		background-color:#D9F7FF;
		cursor:pointer;
	}
	
	textarea
	{
		width: 400px;
		border: 1px solid #D8D0C7;
		background-color:#EFECE9;
	}
	
	select
	{
		width: 200px;
		border: 1px solid #5EB7FF;
		background-color:#D9F7FF;
	}
}