.aui a {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease; }
.aui #wrapper {
  padding: 0; }
.aui #banner {
  background: #190f2e;
  padding: 20px 0 0 0; }
  .aui #banner #banner-inner {
    max-width: 1200px;
    margin: 0 auto; }
  .aui #banner .site-title {
    margin: 0 auto;
    text-align: center; }
  .aui #banner .navbar {
    text-align: center;
    margin: 0; }
  .aui #banner .navbar .navbar-inner {
    display: inline-block; }
  .aui #banner .navbar-inner {
    background: transparent;
    border: none;
    text-shadow: none;
    color: #fff;
    box-shadow: none;
    min-height: initial; }
  .aui #banner .navbar .nav > li > a {
    text-shadow: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0; }
  .aui #banner .navbar .nav > li > a:focus, .aui #banner .navbar .nav > li > a:active, .aui #banner .navbar .nav > li > a:hover {
    background: transparent;
    box-shadow: none;
    color: #a59eea;
    text-decoration: none; }
  .aui #banner .navbar .nav > .active > a, .aui #banner .navbar .nav > .active > a:hover, .aui #banner .navbar .nav > .active > a:focus {
    background: transparent;
    box-shadow: none;
    color: #a59eea;
    text-decoration: none; }
  .aui #banner .navbar .nav li.dropdown.open > .dropdown-toggle, .aui #banner .navbar .nav li.dropdown.active > .dropdown-toggle, .aui #banner .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: transparent;
    color: #a59eea;
    text-decoration: none; }
  .aui #banner .open > .dropdown-menu {
    display: block;
    background: #190f2e; }
  .aui #banner .dropdown-menu > li > a {
    text-shadow: none;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    text-decoration: none;
    font-size: 11px;
    font-weight: 200;
    color: #ffffff;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px; }
.aui #footer {
  font-family: tahoma;
  font-size: 12px;
  color: #333; }
  .aui #footer:before {
    content: '';
    display: block;
    width: 100%;
    height: 80px;
    background: #190f2e; }
  .aui #footer #footer-inner {
    margin: -80px 5em 0 5em;
    position: relative; }
  .aui #footer .footer-copyright {
    border-top: 1px solid #eee;
    text-align: center;
    padding: 15px;
    color: #333; }
  .aui #footer .powered-by {
    margin-top: -40px;
    margin-right: 40px;
    float: left; }
  .aui #footer #footer-socialshare {
    position: absolute;
    top: 24px;
    color: #fff; }
  .aui #footer #footer-socialshare a {
    color: #fff; }
  .aui #footer #footer-socialshare a:hover {
    background: transparent;
    box-shadow: none;
    color: #a59eea;
    text-decoration: none; }
  .aui #footer .quick_contact {
    width: 50%;
    float: right;
    margin-top: 20px; }
  .aui #footer .web-form-portlet button.btn, .aui #footer .web-form-portlet input[type='submit'].btn {
    position: absolute;
    right: 0;
    top: 0;
    width: initial; }
  .aui #footer .web-form-portlet input[type='text'], .aui #footer .web-form-portlet input[type='password'] {
    padding: 20px 10px;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    color: #fff; }
  .aui #footer .web-form-portlet .control-group {
    margin: 0px;
    width: calc(100% - 60px); }
  .aui #footer .web-form-portlet fieldset {
    width: 100%; }
  .aui #footer .web-form-portlet form {
    margin: 0px; }
  .aui #footer .footer-navbar {
    padding: 90px 0 0 0;
    text-align: center; }
  .aui #footer .footer-navbar h2 {
    display: none; }
  .aui #footer .footer-navbar ul {
    display: inline-block; }
  .aui #footer .footer-navbar li {
    float: left;
    list-style: none;
    padding: 5px 10px; }
  .aui #footer .footer-navbar li a {
    color: #333; }
  .aui #footer .footer-navbar:after {
    content: '';
    clear: both;
    display: block; }

/*raw-start*/
/*raw-end*/

