<title>{{page.title}}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="@@description">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="manifest" href="http://localhost:3000/site.webmanifest">
<link rel="apple-touch-icon" href="icon.png">
<meta name="theme-color" content="#fafafa">

<!-- Favicon -->
<link rel="shortcut icon" href="http://localhost:3000/favicon.ico">

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="http://localhost:3000/assets/styles/css/normalize.css">
<link rel="stylesheet" href="http://localhost:3000/assets/modules/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="http://localhost:3000/assets/modules/fontawesome/css/all.min.css">

<!-- CSS One Theme -->
<link rel="stylesheet" href="http://localhost:3000/assets/styles/css/main.css">