<header id="header" class="full-header clearfix sticky-header">
    <div id="header-wrap" class="">
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <div id="logo">
                <a href="index.html" class="standard-logo"><img src="http://localhost:3000/assets/images/logo.png" alt="Canvas Logo"></a>
                <a href="index.html" class="retina-logo"><img
                        src="http://localhost:3000/assets/images/layout_set_logo.png" alt="Canvas Logo"></a>
            </div>
        </div>
    </div>

    @@include('./navs/main.html')
</header>