<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="#">
        <img src="assets/images/wsm.png" width="30" height="30" alt="">
        One Theme
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="#">Start</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Home</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Corporate</a>
                    <a class="dropdown-item" href="#">Portfolio</a>
                    <a class="dropdown-item" href="#">Blog</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">One Page</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                <ul class="dropdown-menu multi-level"  aria-labelledby="dropdown3">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">One more separated link</a></li>
                    <li class="dropdown-item dropdown">
                        <a href="#" class="dropdown-toggle" id="dropdown3-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown3-1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li class="dropdown-item dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdown3-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <ul  class="dropdown-menu" aria-labelledby="dropdown3-2">
                                    <li class="dropdown-item dropdown">
                                        <a href="#" class="dropdown-toggle" id="dropdown3-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown3-3">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                                            <li class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown3">
                    <li class="dropdown-item"><a href="#">Action 2 A</a></li>
                    <li class="dropdown-item"><a href="#">Action 2 B</a></li>
                    <li class="dropdown-item"><a href="#">Action 2 C</a></li>
                    <li class="dropdown-item dropdown">
                        <a class="dropdown-toggle" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown2.1</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown2-1">
                            <li class="dropdown-item"><a href="#">Action 2.1 A</a></li>
                            <li class="dropdown-item"><a href="#">Action 2.1 B</a></li>
                            <li class="dropdown-item"><a href="#">Action 2.1 C</a></li>
                            <li class="dropdown-item dropdown">
                                <a class="dropdown-toggle" id="dropdown2-1-1" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Dropdown2.1.1</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown2-1-1">
                                    <li class="dropdown-item"><a href="#">Action 2.1.1 A</a></li>
                                    <li class="dropdown-item"><a href="#">Action 2.1.1 B</a></li>
                                    <li class="dropdown-item"><a href="#">Action 2.1.1 C</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-item dropdown">
                                <a class="dropdown-toggle" id="dropdown2-1-2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Dropdown2.1.2</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown2-1-2">
                                    <li class="dropdown-item"><a href="#">Action 2.1.2 A</a></li>
                                    <li class="dropdown-item"><a href="#">Action 2.1.2 B</a></li>
                                    <li class="dropdown-item"><a href="#">Action 2.1.2 C</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>


            </li>
            <li class="nav-item"><a class="nav-link" href="#">eCommerce</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Showcase</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shortcode</a>
                <div class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <h5>Links</h5>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <h5>More Links</h5>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <a class="dropdown-item" href="#">Another action</a>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <h5>Paragraph</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus in veritatis, facilis eligendi sunt, culpa autem harum porro earum.</p>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <h5>Image</h5>
                                <img src="https://source.unsplash.com/250x150/?sig=4" alt="..." style="width: 100%;">
                            </div>
                        </div>
                    </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Full Demos</a></li>
        </ul>
    </div>
</nav>