<footer id="footer" class="dark">
    <div>
        @@include('./navs/foot.html')
    </div>
    <div id="copyrights">
        <div class="center clearfix">
            Copyrights © 2016 All Rights Reserved by SemiColonWeb
            <div class="copyright-links">
                <a href="http://themeforest.net/user/semicolonweb/portfolio?ref=SemiColonWeb" target="_blank">Portfolio</a>
                <a href="http://support.semicolonweb.com" target="_blank">Support</a>
            </div>
        </div>
    </div>
</footer>