<footer>
    <div class="footer-about"></div>
    <div class="footer-copy-right">
        <div class="footer-logo"><img src="http://localhost:3000/assets/images/logo.png" /></div>
        <p>2019 © All Rights Reserved.</p>
    </div>
    <div class="footer-navbar">
        <ul>
                <li>About</li>
                <li>Services</li>
                <li>Google</li>
                <li>Terms & Conditions</li>
                <li>Privacy & Policy</li>
                <li>Marketing</li>
                <li>Support Forum</li>
                <li>Themes</li>
        </ul>
    </div>
    <div class="footer-sociallinks">
        <div>
            <h3>Follow Us</h3>
            <!-- Social Icons -->
            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-google-plus"></i></a></li>
                <li><a href=""><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-contact-form"></div>
    <div class="footer-subscribe-form"></div>
    <div class="footer-tag-cloud"></div>
    <div class="footer-blog-post"></div>
</footer>
 
 
 
 