.aui {
  margin: 0;
  padding: 0;
  /* ---------- Reset ---------- */
  /* ---------- Defaults ---------- */
  /* ---------- ul, ol ---------- */
  /* ---------- Column widths ---------- */
  /* ---------- Site Controls ---------- */
  /* ---------- body ---------- */
  /* ---------- Wrapper ---------- */
  /* ---------- Menu Article - Megag Menu ---------- */
  /* ---------- Login Portlet ---------- */
  /* ---------- document library ---------- */
  /* ---------- asset-publisher ---------- */
  /* ---------- CSS Site Pages ---------- */
  /* ---------- lfr-admin-panel ---------- */
  /* ---------- taglib-social-bookmarks ---------- */
  /* ---------- Fixed Nav Bar ---------- */
  /* ---------- site pages ---------- */
  /* ---------- fix standard navbar ---------- */
  /* ---------- show portlet drop zone on drag ---------- */ }
  .aui body {
    margin: 0;
    padding: 0; }
  .aui ul, .aui ol {
    padding: 0;
    margin: 0 0 10px 0;
    line-height: 20px; }
  .aui li {
    line-height: 20px; }
  .aui .portlet-column-content.empty {
    padding: 50px; }
  .aui body.controls-hidden .nav-add-controls {
    opacity: 0.2; }
  .aui body {
    margin: 0;
    padding: 0; }
    .aui body.dockbar-transparent .dockbar {
      background: transparent;
      border-bottom: none; }
    .aui body.hide-chat .chat-bar {
      display: none; }
    .aui body.hide-search .page-search {
      display: none; }
    .aui body.hide-language .language-choices {
      display: none; }
    .aui body.hide-login .sign-in {
      display: none; }
    .aui body.controls-hidden .nav-add-controls {
      opacity: 0.2; }
    .aui body.controls-visible .nav-add-controls {
      opacity: 1; }
  .aui #wrapper {
    padding: 0 5em;
    position: relative; }
    @media (max-width: 767px) {
      .aui #wrapper {
        padding-left: 0.5em;
        padding-right: 0.5em; } }
    @media (min-width: 768px) and (max-width: 979px) {
      .aui #wrapper {
        padding-left: 1em;
        padding-right: 1em; } }
  .aui #navigation .navbar-inner .menu-article {
    min-width: 500px;
    min-height: 300px;
    left: -100px;
    padding: 10px;
    box-shadow: 0px 2px 3px 1px #777; }
  .aui #navigation .navbar-inner .menu-article > ul {
    margin: 0;
    padding: 0; }
  .aui #navigation .navbar-inner .menu-article > ul:after {
    content: '';
    display: block;
    clear: both; }
  .aui #navigation .navbar-inner .menu-article > ul > li.lfr-nav-item {
    list-style: none;
    float: left;
    padding: 10px 10px 20px 10px; }
  .aui .portlet-login {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px 0 10px;
    border-radius: 5px;
    max-width: 800px; }
    .aui .portlet-login .help-inline {
      display: block; }
    .aui .portlet-login .navigation {
      margin: 20px -10px -20px -10px; }
      .aui .portlet-login .navigation ul {
        margin: 5px 0 0 0;
        list-style: none;
        position: relative;
        left: 50%; }
      .aui .portlet-login .navigation .navigation-wrapper {
        float: right;
        position: relative;
        left: -50%;
        text-align: left; }
      .aui .portlet-login .navigation:after {
        content: ' ';
        clear: both;
        display: block; }
    .aui .portlet-login input[type="color"], .aui .portlet-login input[type="date"], .aui .portlet-login input[type="datetime"], .aui .portlet-login input[type="datetime-local"], .aui .portlet-login input[type="month"], .aui .portlet-login input[type="number"], .aui .portlet-login input[type="password"], .aui .portlet-login input[type="text"], .aui .portlet-login input[type="time"], .aui .portlet-login input[type="week"], .aui .portlet-login input[type="email"], .aui .portlet-login input[type="url"], .aui .portlet-login input[type="search"], .aui .portlet-login input[type="tel"], .aui .portlet-login textarea, .aui .portlet-login .uneditable-input {
      padding: 9px;
      width: 90%;
      border-radius: 5px; }
    .aui .portlet-login form button {
      padding: 10px 70px;
      font-size: 15px; }
  .aui #signinmodal form {
    text-align: center; }
    .aui #signinmodal form input[type="color"], .aui #signinmodal form input[type="date"], .aui #signinmodal form input[type="datetime"], .aui #signinmodal form input[type="datetime-local"], .aui #signinmodal form input[type="month"], .aui #signinmodal form input[type="number"], .aui #signinmodal form input[type="password"], .aui #signinmodal form input[type="text"], .aui #signinmodal form input[type="time"], .aui #signinmodal form input[type="week"], .aui #signinmodal form input[type="email"], .aui #signinmodal form input[type="url"], .aui #signinmodal form input[type="search"], .aui #signinmodal form input[type="tel"], .aui #signinmodal form textarea, .aui #signinmodal form .uneditable-input {
      padding: 9px;
      width: 90%;
      border-radius: 5px; }
    .aui #signinmodal form button {
      padding: 10px 70px;
      font-size: 15px; }
  .aui #signinmodal ul.taglib-icon-list {
    display: table;
    margin: 0 auto; }
  .aui .portlet-document-library .navbar .nav li > a {
    white-space: nowrap; }
  .aui .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
    box-shadow: none;
    text-align: left;
    margin: 0;
    background: transparent;
    border-radius: 0; }
  .aui .portlet-asset-publisher .asset-abstract {
    margin-bottom: 2em;
    box-shadow: 0 0 5px #ccc;
    padding: 10px; }
    .aui .portlet-asset-publisher .asset-abstract .asset-title img {
      display: none; }
    .aui .portlet-asset-publisher .asset-abstract .asset-title {
      border-bottom: 1px solid #ECEBEB;
      margin-right: 8px;
      padding-bottom: 10px;
      margin: 0 10px 10px 10px;
      line-height: 1.3em; }
    .aui .portlet-asset-publisher .asset-abstract .asset-content {
      clear: right;
      margin: 10px; }
  .aui .portlet-asset-publisher .asset-full-content .lfr-meta-actions {
    margin: 3px 0px 0 0;
    padding-top: 0; }
  .aui .portlet-asset-publisher .asset-full-content .lfr-preview-file-image-container {
    position: relative;
    padding: 10px;
    box-shadow: 0 0 5px #ccc;
    height: inherit; }
    .aui .portlet-asset-publisher .asset-full-content .lfr-preview-file-image-container img {
      /*width: 100%;*/ }
  .aui .portlet-asset-publisher .asset-full-content .asset-content {
    margin: 0; }
  .aui .portlet-communities textarea {
    width: 95%;
    min-height: 100px; }
  .aui .portlet-communities .control-group {
    margin-top: 5px; }
  .aui .portlet-communities legend {
    color: #333333;
    font-size: 17px;
    line-height: 1.5em;
    margin-bottom: 10px; }
  .aui .lfr-admin-panel .control-group {
    margin-top: 5px;
    margin-bottom: 10px; }
  .aui .lfr-admin-panel legend {
    color: #333333;
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 10px; }
  @media (min-width: 600px) {
    .aui .lfr-admin-panel .move-arrow-buttons {
      width: 9%; } }
  .aui .taglib-social-bookmarks {
    background: transparent; }
  .aui .cd-secondary-nav ul {
    position: fixed;
    right: 5%;
    bottom: 20px;
    visibility: hidden;
    transform: scale(0);
    transform-origin: 100% 100%;
    transition: transform 0.3s, visibility 0s 0.3s; }
  .aui .cd-secondary-nav ul.is-visible {
    visibility: visible;
    transform: scale(1);
    transition: transform 0.3s, visibility 0s 0s; }
  @media only screen and (min-width: 1170px) {
    .aui .cd-secondary-nav ul {
      /* reset navigation values */
      position: static;
      width: auto;
      max-width: 100%;
      visibility: visible;
      transform: scale(1); } }
  .aui .cd-secondary-nav-trigger {
    position: fixed;
    bottom: 20px;
    right: 5%;
    width: 44px;
    height: 44px; }
  @media only screen and (min-width: 1170px) {
    .aui .cd-secondary-nav-trigger {
      display: none; } }
  @media only screen and (min-width: 1170px) {
    .aui .cd-secondary-nav.is-fixed {
      position: fixed;
      left: 0;
      top: 0;
      height: 70px;
      width: 100%; }
    .aui .cd-secondary-nav li a {
      padding: 58px 40px 0 40px;
      transition: padding 0.2s; }
    .aui .cd-secondary-nav li a span {
      transition: opacity 0.2s; }
    .aui .cd-secondary-nav.animate-children li a {
      padding: 26px 30px 0 30px; }
    .aui .cd-secondary-nav.animate-children li a span {
      opacity: 0; } }
  @media only screen and (min-width: 1170px) {
    .aui #cd-logo.is-hidden {
      /* assign a position fixed and move outside the viewport (on the left) */
      opacity: 0;
      position: fixed;
      left: -20%;
      transition: left 0.3s, opacity 0.3s; }
    .aui #cd-logo.is-hidden.slide-in {
      /* slide in when the secondary navigation gets fixed */
      left: 5%;
      opacity: 1; }
    .aui .cd-btn.is-hidden {
      /* assign a position fixed and move outside the viewport (on the right) */
      opacity: 0;
      position: fixed;
      right: -20%;
      transition: right 0.3s, opacity 0.3s; }
    .aui .cd-btn.is-hidden.slide-in {
      /* slide in when the secondary nav gets fixed */
      right: 5%;
      opacity: 1; } }
  .aui .navbar .nav > li > a span {
    white-space: nowrap; }
  .aui .navbar .nav > li > .button-holder .btn {
    white-space: nowrap; }
  .aui .navbar {
    margin-bottom: 0; }
    .aui .navbar .navbar-inner {
      box-shadow: none;
      border: 0;
      background: transparent; }
      .aui .navbar .navbar-inner .nav > .active > a, .aui .navbar .navbar-inner .nav > .active > a:hover, .aui .navbar .navbar-inner .nav > .active > a:focus {
        box-shadow: none;
        background: transparent;
        color: #a59eea; }
      .aui .navbar .navbar-inner .nav > li > a {
        padding: 5px 15px 5px;
        text-shadow: none; }
  .aui .portlet-dropzone {
    transition: padding 0.5s linear; }
  .aui .yui3-dd-drop-active-valid .portlet-dropzone {
    outline: 1px dotted #00b8ff;
    padding: 10px;
    margin: 3px;
    min-height: 100px; }

